/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:24/03/17 [fixed Float bug, vf]
Author Name:Tawhidul Alam
Primary use:
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Body
2. Header-top
2. Navbar
-------------------------------------------------------------------*/
/*
==========================================
    Reset Css
==========================================
*/
:root {
    --primary: #eee30d;
    --dark: #0b0b0b;
    --body: #fff;
    --box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    --white: #f5f3f3;
}
html,body {
    font-family: 'Lato', sans-serif;
	color: var(--body);
    font-size: 14px;
    line-height: 1.8;
    overflow-x: hidden;
    width: 100%;
}
ul li {
    list-style: none;
}
h1,h2,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
    color: var(--dark);
}
a,a:hover {
    text-decoration: none;
}
a:hover {
    color: var(--white);
}

.whats-app-fixed a{
    color: #fff;
    font-size: 2rem;
    padding: 3px;
    
}
/* ------------------------------------------------
    ***Header Top  Css Start***
------------------------------------------------- */
.header-top {
    background-color: #4980cd;
    color: var(--white);
    padding: 10px 0;
}
.header-top a {
    color: var(--white);
}
.header-top i.fa {
    color: var(--primary);
    padding-right:0;
}
.social-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 5px;
    transition: 0.3s;
}
.social-links i.fa {
    padding-right: 0;
    color: #fff;
}
.social-links a:hover {
    background-color: #eee30d;
    border-color: #eee30d;
}
/* ------------------------------------------------
    ***Header area Css Start***
------------------------------------------------- */

header {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    padding: 10px 0px;
    width: 100%;
    z-index: 2;
}
header .is-sticky .sticky-area {
    background: #fff;
	box-shadow: 0 3px 16px -2px #4c4a4ade;
    z-index: 999 !important;
    animation: slideInDown .6s forwards;
    margin-top: 0;
    padding: 10px 0;
}
header .is-sticky .sticky-area .factory-text a{
	color:#052339;
}
/* ============sticky=============== */

.factory-text {
    display: inline-block;
    
}
.factory-text h4 {
    font-weight: 700;
    font-size: 16px;
}
.factory-text a {
    color: #000;
    text-transform: uppercase;
}
@media only screen and (min-width:769px) {
    .whats-app-fixed{
        position: fixed;
        top: 0.5%;
        right: 1%;
        z-index: 9999999;
        width: 40px;
        height: 40px;
        background-color: #1de30b;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .main-menu li {
        display: inline-block;
        position: relative;
    }
	header .is-sticky .sticky-area .main-menu li a{
		 color: #052339;
	}
    header .is-sticky .sticky-area .main-menu>li:hover>a{
        color: #eee30d;
   }
    header .is-sticky .sticky-area .sub_menu>li:hover>a{
        color: #eee30d;
   }
    .main-menu li a {
        color: #052339;
        font-size: 13px;
        display: block;
        font-weight: 600;
        padding: 0px 12px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

    .main-menu li:last-child a {
        padding-right: 12px;
    }
    .main-menu>li:hover,.sub_menu>li:hover {
        background-color: #05487b;
        border-radius: 5px;
    }
    .main-menu>li:hover>a,.sub_menu>li:hover>a {
        color: #eee30d;
    }
    ul.sub_menu {
        background: #fff;
        border-top: 2px solid #eee30d;
        opacity: 0;
        position: absolute;
        text-align: left;
        top: 25px;
        transform: rotateY(37deg) scale(1, 0.7);
        visibility: hidden;
        width: 183px;
        height: 250px;
        overflow-y: scroll;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		z-index:2;
    }
	header .is-sticky .sticky-area  ul.sub_menu{
		background: #fff;
/* edited */
    
	}
    .sub_menu li {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
    }
    .sub_menu>li>a {
        display: block;
        line-height: normal;
        margin: 0;
        padding: 14px 25px;
        font-size: 13px;
    }
    .sub_menu>li>a::before {
        content: "\f100";
        font-family: FontAwesome;
        left: 0;
        line-height: 44px;
        opacity: 0;
        padding-left: 5px;
        position: absolute;
        top: 0px;
        visibility: hidden;
    }
    .sub_menu a:hover:before {
        left: 5px;
        opacity: 1;
        visibility: visible;
    }
    .main-menu>li:hover ul.sub_menu {
        opacity: 1;
        transform: rotate(0deg);
        visibility: visible;
    }
    .main-menu li a,ul.sub_menu,.sub_menu>li>a::before {
        transition-duration: .5s;
    }

}

/*==================Slide Area================*/
.banner-bg-1{
    background-image: url(../img/slider-bg-5.jpg);
} 
.banner-bg-2{
    background-image: url(../img/slider-bg-6.jpg);
} 
.banner-bg-3{
    background-image: url(../img/banner-bg-2.jpg);
} 
.banner_background{
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.banner_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
}

.banner_details h1{
    font-weight:900;
    color: #ffbb00;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
.banner_details{
    width: 50%;
}

.banner_details p{
 color: #ffff;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 1rem;
 font-weight: 500;
 padding: 10px;
}
.banner_details h3{
    font-weight: 700;
    color: #ffff;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2.5rem;
    text-transform: capitalize;
}
.banner_details a{
    background-color: #ffd700;
    color: #052339;
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem 1.5rem ;
    margin: 0 1rem;
    text-transform: capitalize;
}
.banner_details a:last-child{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem 1.5rem ;
    border: 1px solid #ffffff;
    margin: 0 1rem;
}
.banner_details a:last-child:hover{
    background-color: #ffd700;
    color: #000;
}
.slider-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.slider-brand img{
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 2px;
}
.slider-area .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    justify-content: left;

}
.owl-dots .owl-dot{
    width: 5px;
    height: 40px;
    background-color: #fffff8;
    margin: 5px;

}
.owl-dots .active{
    width: 5px;
    height: 50px;
    background-color: #eee30d;
    margin: 5px;
    transition: 0.7s;
}

/* ========================why chose us===================== */
.why_us_head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem ;
    padding-top: 2.5rem;
    text-transform: uppercase;
}
.why_us_head p{
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    line-height: 1;
    padding: 2.5rem;
    padding-top: 0;
}
.why_us_heading-div{
    width: 50%;
}
.single_why_us{
    box-shadow: rgba(0, 0, 0, 0.1);
}
.single_why_us .card-bg-1{
    background-image: url(../img/sourcing.jpg);
}
.single_why_us .card-bg-2{
    background-image: url(../img/solution.jpg);
}
.single_why_us .card-bg-3{
    background-image: url(../img/supply.jpg);
}
.single_why_us .card-top{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin: 0;
    position: relative;
    
}
.single_why_us .card-top:after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #78670891;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    
}
.single_why_us .card-bottom{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    
}
.single_why_us .card-bottom h3{
    font-size: 2rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #052339;
}
.single_why_us .card-bottom p{
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    line-height: 1;
    padding: 10px;
}
.single_why_us .card-bottom a{
    padding: 5px 10px;
    margin: auto;
    background-color: #04375e;
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;

}
.single_why_us:hover{
    background-color: #d2cece;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.9);

}
/* =================brand Logo CSS======================= */
.brand-head{
    width: 100%;
    height: fit-content;
    padding: auto;
    padding-top: 2.5rem;
}
.brand-head .brand-head-content{
    width: 60%;
    height: fit-content;
    padding: 2rem;
}
.brand-head .brand-head-content h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2.5rem 1.5rem ;
    text-transform: uppercase;
}
.brand-head .brand-head-content p{
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    line-height: 1;
    padding: 10px;
}
.brand-area-bg{
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
}
.brand-area-bg:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url(../img/Electro_logo-02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}
.single-brand{
    padding:  10px 0px;
    margin: 0px 5px;
}
.single-brand:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #005bda;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.single-brand .brand-name{
    text-align: center;
}

.single-brand .brand-name a{
    font-size: 1rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffff;
    background-color: #04375e;
    padding: 5px 12px;
    margin: auto;
    border-radius: 5px;
}
.single-brand .brand-name p{
    font-size: 1rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    padding: 10px;
}
.brand-area .owl-prev, .owl-next{
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(8, 25, 78, 0.5);
    color: #ffff;
    border-radius: 50%;
}
.brand-area .owl-prev:hover, .owl-next:hover{
    background-color: rgba(8, 25, 78, 1);   
}
.brand-area .owl-prev{
    position: absolute;
    left: 0;
    top: 40%;
}
.brand-area .owl-next{
    position: absolute;
    right: 0;
    top: 40%;
}
.icon{
    width: 100px;
    height: 100px;
    color: #04375e;
}
/* ========================mission vision area=============== */
.mission-vission-area{
    margin: 48px 0px;
}
.mission p, .vision p{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #121111;
    line-height: 1;
    padding: 10px;
    text-align: justify;
}
.mission, .vision{
    padding: 10px;
    margin: 20px;
    height: 70vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px ;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.mission:before{
    position: absolute;
    background-image: url(../img/mission.png);
    content: '';
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.vision:before{
    position: absolute;
    background-image: url(../img/vision.png);
    content: '';
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.mission-vission-area .mission-vission-head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2.5rem 1.5rem ;
    text-transform: uppercase;
}
/* ===============Visit us=============== */

.visit_us_area_bg{
    background-color: rgb(25, 76, 228, 0.4);
    padding: 15px;

}
.visit_us_area .visit_us_head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem;
    text-transform: uppercase;
}
.visit_us_area .visit_us_map_leftt h3{
    color: #052339;
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: uppercase;
}
.visit_us_area .visit_us_map_leftt p{
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
.visit_us_area .visit_us_map_leftt p span{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;   
}
.visit_us_area .visit_us_map_leftt iframe{
    width: 100%;
    height: 40vh;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 15px;
}

.visit_us_area .visit_us_map_right h3{
    color: #052339;
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: uppercase;
}
.visit_us_area .visit_us_map_right p{
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
.visit_us_area .visit_us_map_right p span{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;   
}
.visit_us_area .visit_us_map_right iframe{
    width: 100%;
    height: 40vh;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 15px;
}
/* ===============Footer area=============== */
.footer{
    background-color: #5d92dd;
    padding: 2rem 0rem;

}
.footer .footer_logo{
    padding: 10px;
}
.footer .footer_logo img{
    width: 200px;
    height: 45px;
    margin: 10px 0px;
}
.footer .footer_logo h1{
    color: #ffbb00;
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: capitalize;
}
.footer .footer_logo p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
}
.footer .footer_logo p a{
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 0px;
    line-height: 1.5;
}
.footer .footer_logo p a:hover{
    color: #052339;
    
}

.footer .footer-midle{
    position: relative;
    padding: 10px;
}
.footer .footer-midle .line{
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 50vh;
    background-color: #fff;
}
.footer .footer-midle ul li{
    list-style: none;
    padding: 10px;
}
.footer .footer-midle ul li a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer .footer-midle ul li a:hover{
    color: #052339;
}

.footer .footer-right{
    position: relative;
    padding: 10px;
}
.footer .footer-right .line{
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 50vh;
    background-color: #fff;
}
.footer .footer-right .footer-right-head h3{
    color: #052339;
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: capitalize;   
}

.footer .footer-right .social-link ul li a i.fa{
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer .footer-right .social-link ul li{
    padding: 5px;
}
.footer .footer-right .social-link ul li a:hover i.fa{
    color: #ffbb00;
    background-color: #052339;
    border: 2px solid #ffbb00;
    transition: 0.8s;
} 
.footer .footer-right .address p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: 1; 
}
.footer .footer-right .address .mail a{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
.footer .footer-right .address .mail a:hover{
    color: #052339;
}
/* =================================================================About Uss CSS====================================================== */
.aboutus-banner-area{
    position: relative;
    margin-bottom: 50px;
}
.aboutus-banner-area-bg{
    background-image: url(../img/about-us-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
.aboutus-banner-head{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aboutus-banner-area .banner-description{
    position: absolute;
    bottom: -55px;
    left: 20%;
    width: 60%;
    border: 5px solid #fff;
    background-color: #4980cd;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.aboutus-banner-area .banner-description p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
}
.aboutus-banner-head .banner-heading h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: uppercase; 
}
.aboutus-banner-head .banner-heading h2{
    color: #ffbb00;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: capitalize; 
}
.aboutus-banner-head .banner-heading h2 span{
    color: #fff;
}
.aboutus-banner-head .banner-heading h3{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: capitalize; 
}

.description_details .description_head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem 0rem;
    text-transform: uppercase;
}
.description_details .description_head p{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description_details .description-card h3{
    color: #052339;
    font-size: 2rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem 0rem;
    text-transform: capitalize;
}
.description_details .description-card p{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description_bottom{
    padding: 15px 0px;
}
.description_bottom h3{
    color: #052339;
    font-size: 2rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem 0rem;
    text-transform: capitalize;   
}
.description_bottom p{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ============================contact us Css========================================================== */
.contact-banner-area{
    position: relative;
    margin-bottom: 50px;
}
.contact-banner-area-bg{
    background-image: url(../img/contactus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
.contact-banner-head{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-banner-head .banner-heading h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    text-transform: uppercase; 
}
.help_section{
    margin: 20px 0px;
}
.help_section .help-section-left .help-section-head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem 0rem;
    text-transform: uppercase;   
    padding-bottom:0 ;
}
.help_section .help-section-left .help-section-head p{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0;
}
.help_section .help-section-left .help-section-head p span{
    font-weight: 700;
    color: #111111;
 }
.help_section .help-section-left .visit-details i.fa{
    font-size: 2.5rem;
    font-weight: 900;
    padding-right: 5px;
}
.help_section .help-section-left .visit-details{
    padding-top: 10px;
}
.help_section .help-section-left .visit-details .fa-whatsapp{
    color: #1de30b;
}
.help_section .help-section-left .visit-details .fa-phone{
    color: #0f3770;
    
}
.help_section .help-section-left .visit-details .fa-envelope{
    color: #e3b40b;
    padding-top: 10px;
}
.help_section .help-section-left .visit-details .Whats-app, .phone, .email-envelope{
    padding: 5px 0px;
}
.help_section .help-section-left .visit-details p{
    color: #111111;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0; 
}
.help_section .help-section-right .form-group label{
    color: #0f3770;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0; 
}
.help_section .help-section-right .form-group input, #exampleFormControlTextarea1{
    border: 1px solid #0f3770;
}
.help_section .help-section-right form button{
    background-color: #eee30d;
    color: #000;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 10px;
    margin-top: 5px;
}
.help_section .help-section-right form button:hover{
   color: #f5f3f3;
   transition: 0.9s;
   box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 0.4);
}
/* ============================productcsss================= */
.product-bg{
    background-image: url(../img/productbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh; 
}
.product-bg .product-banner-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.product-bg .product-banner-wrapper .product-banner-details .product-banner-head h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem 0rem ;
    padding-top: 50px;
    text-transform: uppercase; 
}
.product-bg .product-banner-wrapper .product-banner-details .product-banner-head p{
    color: #dffc04;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}
.product-bg .product-banner-wrapper .product-banner-details .single-product-brand{
    margin: 5px 5px;
    background-color: #fff;
}
.product-area{
    padding: 2.5rem 0rem;
}
.product-show-section .product-show-head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase; 
}
.product-show-section .all-products .product_card {
    height: 300px;
    background-color: rgb(212, 221, 228);
    padding: 10px;
    margin:  10px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.product-show-section .all-products .product_card .product_img img {
    max-width: 120px;
    height: 120px;
}

.product-show-section .all-products .product_card .product_details h3 {
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #344742;
    padding: 5px;
}

.product-show-section .all-products .product_card .product_details p {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #344742;
    padding: 5px;
}

.product-show-section .all-products .product_card .product_details i.fa {
    color: #fbde25;
    font-size: 1.2rem;
    font-weight: 900;

}
.product-show-section .all-products .product_card .social-link div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.product-show-section .all-products .product_card .social-link .facebook{
    border: 3px solid #04375e;
}
.product-show-section .all-products .product_card .social-link .whats-app{
    border: 3px solid #0d9608;
}
.product-show-section .all-products .product_card .social-link .facebook a{
    color:#04375e;
    font-size:2rem;
    font-weight: 900;
}
.product-show-section .all-products .product_card .social-link .whats-app a{
    color: #0d9608;
    font-size:2rem;
    font-weight: 900;
}
.product-show-section .all-products .product_card .social-link .facebook:hover{
    background-color: #04375e; 
}
.product-show-section .all-products .product_card .social-link .whats-app:hover{
    background-color: #0d9608; 
}
.product-show-section .all-products .product_card .social-link div:hover a{
    color: #fff; 
}
/* =======================================clients CSS============================================= */

.client-bg{
    background-image: url(../img/clients-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;   
}
.clients-area .clients-head h1{
    color: #052339;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;    
}
.clients-area .clients-single-card h1{
    color: #052339;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 0rem ;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;    
}
.clients-area .clients-single-card p{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #344742;
    padding: 5px;
}
.clients-area .clients-single-card img{
    width: 300px;
    height: fit-content;
    margin: 10px;
}
/* preloader=============== */
@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999;
    background-color: #ffff;
}

#preloader img{
    width: 70px;
    height: 70px;
    animation: rotate 0.9s linear infinite;
}